html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.container {
  padding: 0 40px;
}

body {
  background-color: #272d49;
}

.asset {
  display: flex;
  font-size: 1.875rem;
  align-items: center;
  color: #fff;
}

.asset a {
  color: #66C8FF;
  font-weight: 700;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chart-container .single-chart {
  padding: 1.25rem 2rem 1.25rem 0.5rem;
  max-width: 100%;
  background: linear-gradient(111.6deg, #303659 -2.51%, #292E4D 104.46%);
  border-radius: 15px;
}

.chart-title-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.chart-title-wrapper p {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}